<script setup lang="ts">
import MainLayout from "@/layout/MainLayout.vue";
import FullLayout from "@/layout/FullLayout.vue";
import LoadingDialog from "./components/LoadingDialog.vue";
</script>

<template>
  <component
    :is="$route.meta.layout === 'MainLayout' ? MainLayout : FullLayout"
  ></component>
  <LoadingDialog></LoadingDialog>
</template>
